body {
    background: #0F1113;
    color: white;
    padding:0;
    margin:0;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:320px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


