.btn-delete {
    color: red;
    text-decoration: none;
    margin-left: 10px;
}

.btn-delete:hover {
    text-decoration: underline;
}

.create-post {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.create-post-form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attachment-label {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #2B3236;
}
.attachment-label svg {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.create-post h2 {
    font-size: 30px;
    font-weight: 500;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.create-post > button, .create-post > p, .create-post > a, .create-post > input, .create-post textarea {
    font-size: 20px;
    font-weight: 500;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.create-post button {
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #2B3236;
    color: white;
    cursor: pointer;
}

.create-post button:hover {
    background-color: #3a4247;
}

.create-post input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
}

.create-post .attachment-label:hover {
    cursor: pointer;
}

.create-post textarea {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    resize: none;
}

.post-createresponse {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #2B3236;
    border-radius: 8px;
    background-color: #181C1F;

    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.post-createresponse .parent-reply-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-createresponse textarea {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #2B3236;
    background-color: #2B3236;
    color: white;
    resize: none;

    
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.post-createresponse button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #2B3236;
    color: white;
    cursor: pointer;

    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.post-createresponse button:hover {
    background-color: #3a4247;
}


.parent-reply-form {
    display:flex;
    flex-direction: column;
    gap:8px;
}

.posts-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:40%
}

.post {
    border-radius: 14px;
    width: 100%;
    transition: background-color 0.1s;
}
.post p, span, strong {
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.post-header, .post-content, .post-footer {
    padding-left: 8px;
    padding-right: 8px;
}
.post-header {
    display:flex;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    gap: 8px;
}

.post-content p {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.post-footer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 8px;
}

.post:hover {
    background-color: #181C1F;
    cursor: pointer;
}

.post>* {
    flex:1;
    color: white;
}

.post-separator {
    width: 100%;
    margin: 10px 0;
    border: 0.5px solid rgb(45, 45, 45);
    border-radius: 1px;
}

.post-like {
    display: flex;
    align-items: center;
    padding: 7px;
    padding-right: 16px;
    background-color: #2B3236;
    border-radius: 18px;
    gap: 4px;
}

.post-like:hover {
    background-color: #3a4247;
}

.comments {
    padding-top: 20px;
    width: 100%;
}

.like-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.like-button svg {
    color: white;
    width: 18px;
    height: 18px;
}

.post-comment-count {
    display: flex;
    align-items: center;
    padding: 7px;
    padding-right: 16px;
    background-color: #2B3236;
    border-radius: 18px;
    gap: 4px;
}

.post-comment-count:hover {
    background-color: #3a4247;
}

.comment-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.comment-button svg {
    color: white;
    width: 18px;
    height: 18px;
}

.post-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-avatar {
    width: 30px;
}

.post-attachment {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 14px;
    padding-bottom: 10px;
}

/* Make mediaqueries for the navbar for phone here */
@media (max-width: 768px) {
    .posts-container {
        width:320px;
    }
}