.btn-delete {
    color: red;
    text-decoration: none;
    margin-left: 10px;
}

.btn-delete:hover {
    text-decoration: underline;
}

.post-createresponse {
    padding:8px;
    border: 1px solid black;
    margin-top:8px;

}

.parent-reply-form {
    display:flex;
    flex-direction: column;
    gap:8px;
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%
}

.post {
    border-radius: 14px;
    width: 100%;
    transition: background-color 0.1s;
}
.post p, span, strong {
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.post-header, .post-content, .post-footer {
    padding-left: 8px;
    padding-right: 8px;
}
.post-header {
    display:flex;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 8px;
}

.post-footer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 8px;
}

.post:hover {
    background-color: #4a5053;
    cursor: pointer;
}

.post>* {
    flex:1;
    color: white;
}

.post-separator {
    width: 100%;
    margin: 10px 0;
    border: 0.5px solid rgb(45, 45, 45);
    border-radius: 1px;
}

.post-like {
    display: flex;
    align-items: center;
    padding: 7px;
    padding-right: 16px;
    background-color: #2B3236;
    border-radius: 18px;
    gap: 4px;
}

.like-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.like-button svg {
    color: white;
    width: 18px;
    height: 18px;
}

.post-comment-count {
    display: flex;
    align-items: center;
    padding: 7px;
    padding-right: 16px;
    background-color: #2B3236;
    border-radius: 18px;
    gap: 4px;
}

.comment-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.comment-button svg {
    color: white;
    width: 18px;
    height: 18px;
}

.post-avatar img {
    width: 30px;
    border-radius: 50%;
}

/* Make mediaqueries for the navbar for phone here */
@media (max-width: 768px) {
    .posts-container {
        width:320px;
    }
}