.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 10px;

    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.profile hr {
    align-self: center;
    width: 80%;
    margin: 10px 0;
    border: 0.2px solid rgb(15, 15, 15);
    border-radius: 1px;
}

.profile-left-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-right-container {
    width: 30%;
    height: 100%;
    border-radius: 18px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.profile-right-container h2 {
    color: white;
    font-size: 20px;
    padding-left: 15px;
}

.profile-right-container img {
    color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.profile-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.profile-stats-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.profile-stats-card h3 {
    margin: 0;
    font-size: 12px;
}
.profile-stats-card p {
    margin: 0;
    font-size: 10px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    gap: 8px;
}

.profile-header img {
    width: 100px;
    height: 100px;
}

.profile-name {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.profile-name h1 {
    margin: 0;
}

.profile-name p {
    margin: 0;
}