.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 10px;

    font-family: "Reddit Sans", sans-serif;
    font-style: normal;
}

.profile hr {
    align-self: center;
    width: 80%;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 1px;
}

.profile-left-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-right-container {
    width: 40%;
    height: 100%;
    border-radius: 18px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.profile-name  {
    color: white;
    font-size: 15px;
    padding: 15px;
}

.profile-right-container img {
    color: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.profile-stats {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.profile-stats > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-stats-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.profile-stats-card h3 {
    margin: 0;
    font-size: 12px;
}
.profile-stats-card p {
    margin: 0;
    font-size: 10px;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    gap: 8px;
}

.profile-header img {
    width: 100px;
    height: 100px;
}

.profile-name h1 {
    margin: 0;
}

.profile-name p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column-reverse;
        width: 90%;
    }
    .profile-right-container {
        width: 100%;
    }
}